# Ref: https://pnpm.io/npmrc#manage-package-manager-versions
# When enabled, pnpm will automatically download and run the version of pnpm
# specified in the packageManager field of package.json.
manage-package-manager-versions = true
