name: Lint

on:
  pull_request:
  merge_group:
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - 'justfile'
      - '.devcontainer'
      - '**/*.md'
      - '.gitignore'

concurrency:
  # Cancel existing builds for the same PR.
  # Otherwise, all other builds will be allowed to run through.
  group: lint.yml-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          show-progress: false
      - name: Configure git hooks
        # Configure git to quell an irrelevant warning for runners (they never commit / push).
        run: git config core.hooksPath githooks
      - name: Lint
        run: |
          bazel info output_base # Ensure bazel is initialized before procedding
          python3 ./tools/cross/format.py --check
